:root{
	--mainColor: rgb(255, 66 ,63);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


body{
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Segoe UI',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

*{
	box-sizing: border-box;
}

.Home{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.landing{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10vh;
	font-weight: 100;
}

.Home .landingContent{
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Home .landingContent>div{
	width: 100%;
}

.Home .landing .title{
	margin-top: 30px;
	font-size: 4.4rem;
	padding: 0 10px;

}

.Home .landing .logoContainer{
	height: 100px;
}

.Home .landing .logoContainer img{
	height: 100%;
}

.Home .subTitle{
	padding: 0 10px;
	font-size: 2rem;
	margin: 20px 0;
}


.Home .npmInstall{
	font-size: 1.7rem;
	position: absolute;
	bottom: 6%;
	font-weight: 300;
	color: white;
}

.Home .npmInstall .container{
	padding: 10px;
	border-radius: 10px;
}
